/* Remove the default margin and padding from the body. */
body {
  padding: 0;
  margin: 0;
}

/* https://www.w3schools.com/css/css_margin.asp */
/* https://www.w3schools.com/css/css_float.asp */
#map,
body,
html {
  height: 80vh;
  width: 100%;
  margin: 20px auto;
  float: right;
}

